/**
Paleta: https://coolors.co/f7f7f7-bfdbdd-c6f5f7-476a6f-232323
**/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imagem_inicial {
  width: 850px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, "MS Trebuchet", sans-serif;
	background-color:#1d3557;
	font-size: 14px;
}

div.container {
	width: 90%;
	padding: 10px;
	margin: 15px auto;
	background-color:#f7f7f7;	
	color: #232323;
}

div.galeria img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pageLogo {
  float: left;
}

img.imgLogo {
  height: 150px;
}

img.imgLogoDir {
  height: 150px;
}

header#pageHeader nav ul, #pageFooter nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0 0 20px 15px;
}

p, li {
  line-height: 20px;
}

#pageHeader nav ul li, #pageFooter nav ul li {
  padding: 0;
  margin: 0 20px 0 0;
  display: inline;
}

header#pageHeader {
  width: 100%;
  background-color: black;
}




nav#menuPrincipal{
  clear: both;
}

nav#menuPrincipal,
footer#pageFooter {
  background-color: black;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
}

nav#menuPrincipal a,
footer#pageFooter a {
  text-decoration: none;
  color: #ffffff;
}

.titleHeader {
  margin-bottom: 0px;
  margin-top:0px;
  color: #f7f7f7;
  float: right;
  padding-top: 25px;
}

section#sidebar {
  float:left;
  width:25%;
}

section#sidebar nav ul li {
  list-style-type: none;
}

section#sidebar nav ul li a {
  text-decoration: none;
  color: black;
}

footer#pageFooter small {
  color: #ffffff;
  font-size: 12px;
}

footer#pageFooter nav {
  float: right;
}

footer#pageFooter nav ul li {
  font-size: 12px;
}

.top10 {
  font-size: large;
  font-weight: bold;
}

.shows_historicos {
  font-weight: bold;
}

.imagem_membros::after {
  content: "";
  clear: both;
  display: table;
}

.imagem_membros p {
  font-size: medium;
  font-weight: bold;
}

.img_mb {
  float: left;
  width: 100px;
  height: auto;
}

.navigation_bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

